.survey-management {
    .question-list {
        .table-content {
            padding: 30px 0;
        }

        .questions-wrap {
            counter-reset: question-counter;
            padding: 0 40px;

            .question-wrap {
                background-color: #F5F5F5;
                list-style: none;
                padding: 10px 30px;
                margin-bottom: 30px;
                border-radius: 12px;

                &:before {
                    counter-increment: question-counter;
                    content: counter(question-counter) ". ";
                    display: inline-block;
                    float: left;
                    margin-right: 7px;
                }

                .question {
                    margin-bottom: 25px;
                    font-size: 15px;
                    font-weight: $font-medium;
                    color: #7E7D7D;
                }

                .answers {
                    label {
                        color: #A3A3A3;
                        font-weight: $font-regular;
                        font-size: 15px;
                    }

                }
            }

            .action-btns {
                text-align: right;
            }

            .custom-control-input:checked ~ .custom-control-label::before {
                color: #fff;
                border-color: $main-green;
                background-color: $main-green;
            }
        }
    }

    textarea {
        background-color: #F5F5F5;
        border-radius: 18px;

        &:focus {
            background-color: #F5F5F5;
            box-shadow: none;
            outline: none;
            border: 1px solid $main-green;
        }
    }

    td:last-child {
        text-align: right;
    }
}
