.login-wrap {
    height: 100vh;
    align-items: center;

    .login {
        width: 100%;
        padding: 17% 18%;
        border-radius: 18px;
        box-shadow: 0px 0px 9px 0px #b3b3b3;

        h4 {
            color: $main-green;
            text-align: center;
            font-size: 31px;
            font-weight: $font-semi-bold;
        }

        p {
            font-size: 21px;
            font-weight: $font-regular;
            text-align: center;
            margin: 25px 0;
        }

        .btn-wrap {
            margin-top: 40px;

            a {
                text-transform: uppercase;
                font-size: 18px;
                font-weight: $font-semi-bold;
                padding: 8px 45px !important;
            }
        }
    }
}

